node_modules
package-lock.json
build
.git
.gitignore
.idea
.editorconfig
.eslintignore
.eslintrc.js
.prettierignore
.browserslistrc
.prettier.json
postcss.config.js
tsconfig.json
data
babel.config.js
README.md
*.map