.main {
  @apply w-full h-full mt-[120px] xl:mt-[140px] relative z-[33];
  .container {
    @apply mx-auto max-w-[1280px];
    .paper {
      @apply w-full h-full flex flex-col ag:flex-row ag:justify-center bg-color1;
      section.slider {
        @apply w-full ag:min-h-[650px] h-[300px] max-h-max ag:w-2/3 ag:h-auto;
      }
      section.auth {
        @apply w-full relative z-[45] ag:w-1/3 flex justify-center items-center;
        & > div {
          width: 100%;
        }
      }
      .button:nth-of-type(1) {
        position: absolute;
        top: 0;
        left: 0;
      }

      .button:nth-of-type(2) {
        position: absolute;
        top: 0;
        right: 0;
      }

      .button {
        @apply pt-4 ag:px-4;
        color: var(--color13);
        font-size: 18px;
        font-weight: 500;
        //position: absolute;
        //top: 0;
        //right: 0;
      }
    }
  }
}

.item {
  @apply absolute w-full h-full z-[40];
  .title {
    @apply absolute z-[41] h-full flex justify-center items-center;
    width: calc(100% - 20%);
    left: 50%;
    transform: translateX(-50%);
    h6 {
      @apply p-2 text-xl sm:text-2xl sm:p-4 lg:text-3xl sm:p-6;
      background-color: rgba(0, 0, 0, 0.3);
      border: 3px solid white;
      color: white;
      text-align: center;
      font-weight: 200;
    }
  }
  .image {
    @apply h-full w-full;
    img {
      border-radius: 10px;
      filter: blur(3px);
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center top;
    }
  }
}
