@import 'normalize.css';
@import 'fontface.css';
@import 'reset.css';
@import 'variables';

body {
  background-color: var(--color1);

  button {
    background-color: var(--color1);
  }
  svg {
    fill: var(--color93);
    &:hover {
      fill: var(--color39);
    }
  }
  div[data-destiny='icon'] > div {
    border-color: var(--color3);
  }
  div[data-destiny='search'] {
    background: var(--color1);
  }
  nav {
    background: var(--color1);
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  a,
  input {
    color: var(--color93);
  }
}

html {
  min-height: 100vh;
  width: 100%;
}
body {
  height: 100%;
  overflow-x: hidden;
}

#root {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: 120vh;
  padding-bottom: 200px;
}

nav {
  font-weight: 600;
  font-size: 1.4em;
}

button {
  border: none;
  cursor: pointer;
}

