//  light1: rgb(255, 255, 255);
//  light3: rgb(221, 221, 221);
//  light5: rgb(203, 203, 203);
//  light7: rgb(185, 185, 185);
//  light9: rgb(166, 166, 166);

//  dark1: rgb(8, 8, 8);
//  dark3: rgb(13, 13, 13);
//  dark5: rgb(41, 41, 41);
//  dark7: rgb(54, 54, 54);
//  dark9: rgb(91, 91, 91);
//  dark10: rgb(125, 125, 125);

// --color[light][dark]: dark7 + light1 = color17
// --color[match with 2 data-theme]: dark3 + light3 = color3

:root[data-theme='light'] {
  --bgColor: 255, 255, 255;
  --bgBtnColor: 54,54,54;
  --color1: rgb(255, 255, 255);
  --color3: rgb(13, 13, 13);
  --color5: rgb(41, 41, 41);
  --color7: rgb(54, 54, 54);
  --color9: rgb(91, 91, 91);
  --color13: rgb(13, 13, 13);
  --color17: rgb(54, 54, 54);
  --color19: rgb(91, 91, 91);
  --color110: rgb(125, 125, 125);
  --color31: rgb(255, 255, 255);
  --color35: rgb(41, 41, 41);
  --color39: rgb(91, 91, 91);
  --color73: rgb(13, 13, 13);
  --color93: rgb(13, 13, 13);
  --color97: rgb(54, 54, 54);
}

:root[data-theme='dark'] {
  --bgColor: 8, 8, 8;
  --bgBtnColor: 166,166,166;
  --color1: rgb(8, 8, 8);
  --color3: rgb(221, 221, 221);
  --color5: rgb(203, 203, 203);
  --color7: rgb(185, 185, 185);
  --color9: rgb(166, 166, 166);
  --color13: rgb(255, 255, 255);
  --color17: rgb(255, 255, 255);
  --color19: rgb(255, 255, 255);
  --color110: rgb(255, 255, 255);
  --color31: rgb(13, 13, 13);
  --color35: rgb(221, 221, 221);
  --color39: rgb(221, 221, 221);
  --color73: rgb(185, 185, 185);
  --color93: rgb(166, 166, 166);
  --color97: rgb(166, 166, 166);
}
