.actor {
  @apply relative inline-block h-full w-[30%] md:w-[23%] lg:w-[20%] xl:w-[270px] xl2:w-[300px];
  &:not(:first-of-type) {
    @apply ml-2.5 md:ml-3.5 lg:ml-4 xl:ml-5;
  }
  .container {
    @apply w-full h-full;
    .img {
      @apply w-full relative h-[70%] max-h-[280px] xl:h-4/5;
      img {
        @apply absolute top-0 left-0 w-full h-full;
        object-fit: cover;
        object-position: center top;
        border-radius: 50%;
      }
    }
    .info {
      @apply w-full mt-1;
      .name {
        @apply text-color13 text-center text-[0.8em] sm:text-[0.9em] md:text-[1em] nl:text-[1.2em];
      }
      .asCharacter {
        @apply font-normal text-color9 text-center text-[0.7em]  sm:text-[0.8em] md:text-[1em];
      }
    }
  }
}
