.info {
  @apply flex flex-col w-full mt-[75px] px-[12px] md:px-[20px] relative z-[10];
  .short {
    @apply mt-4 mb-12;
  }
  .flexbox {
    @apply w-full h-full flex flex-col nl:flex-row gap-y-[20px] nl:gap-y-0 nl:gap-x-[20px];
  }
}

.tableInfo {
  @apply w-full nl:w-1/2 relative z-[10];
  border-collapse: collapse;
  tbody {
    tr {
      @apply ml-4;
      border-top: 1px solid var(--color9);
      td:nth-child(1) {
        @apply py-3 text-[1em] sm:text-[1.1em] ag:text-[1.2em] text-color3 font-bold w-[20%] xs:w-[15%] md:w-[10%] mr-3;
        vertical-align: top;
      }
      td:nth-child(2) {
        @apply py-3 pl-4 text-color5 text-[0.8em] sm:text-[0.9em] ag:text-[1em] w-[80%] xs:w-[85%] md:w-[90%];
      }
      td.director {
        .directorDesc {
          @apply italic text-color97 ml-1;
        }
        td.single {
        }
        .name:not(:first-of-type) {
          @apply ml-1.5;
        }
      }
      td a {
        @apply text-color5;
      }
      td button.showDesc {
        @apply px-1 italic font-bold text-color13 bg-inherit;
      }
    }
  }
}

.buttons {
  @apply w-full nl:w-1/2 flex justify-center nl:justify-end;
  div {
    @apply w-full h-full max-w-[400px];

    & > div {
      width: 100% !important;
    }
  }
}
