.player {
  @apply w-full mx-auto mt-6 h-[63vw] md:h-[55vw] ag:h-[48vw] xl2:h-[600px];
  .buttons {
    button {
      border: none!important;
      margin: 0 !important;
      text-align: center!important;
      padding-left: 0!important;
      padding-right: 0!important;
      min-width: 125px!important;
      max-width: 250px!important;
      width: 250px!important;
      justify-content: center!important;
      align-items: center!important;
      &:not(:first-of-type) {
        border-left: 1px solid var(--color1) !important;
      }
    }
  }
  .video {
    @apply w-full h-full relative;
    .iframe {
      @apply w-full h-full block;
    }
  }
}

@media screen and (max-width: 500px) {
  .player {
    .buttons {
      button {
        font-size: 10px!important;
        padding: 4px!important;
        max-width: 100px!important;

      }
    }
  }

}